# PAIR PROGRAMMING PYTHON: LISTAS1

## EJERCICIOS

    1. Usando la funciÃ³n input, cread un programa que pregunte al usuario por el nombre de tres amig@s.
    2. Almacenad los resultados del paso anterior en una lista. ðŸ’¡ðŸ’¡Pista TendrÃ©is que usar mÃ©todos de los strings que aprendimos en la lecciÃ³n anterior.
    3. Usando la funciÃ³n input, cread un programa que ahora le pregunte al usuario por las alturas de sus amig@s. Y almacenar los resultados en una lista.

In [37]:
nombre = input("introduce el nombre de tres amigos")
nombre

'alfredo, marcos, juan'

In [38]:
lista_nombres = nombre.split()
lista_nombres

['alfredo,', 'marcos,', 'juan']

In [39]:
lista_nombres2 = list(lista_nombres)
lista_nombres2

['alfredo,', 'marcos,', 'juan']

    4. Ordenad las dos listas de mayor a menor. Â¿Lo podrÃ©is hacer para la lista de nombres?
    5. Â¿CuÃ¡l es la altura mÃ¡xima de todos nuestros amig@s?
    6. Â¿Y la mÃ­nima?

In [40]:
lista_alturas = input("Introduce la altura de tus amigos")
lista_alturas

'1.58, 1.98, 1.75'

In [41]:
lista_altura = [1.85, 1.65, 1.68, 1.95]
lista_altura

[1.85, 1.65, 1.68, 1.95]

In [42]:
lista_nombres2.sort()
lista_nombres2

['alfredo,', 'juan', 'marcos,']

In [43]:
lista_altura.sort()
lista_altura

[1.65, 1.68, 1.85, 1.95]

In [44]:
altura_maxima = max(lista_altura)
altura_maxima

1.95

In [45]:
altura_minima = min(lista_altura)
altura_minima

1.65

    Dadas las siguientes listas:
        lista1 = [44, 55, 67, 44, 98, 29]
        lista2 = [34, 56, 56, 78, 67, 56]
    7. Unid las dos listas de forma que consigamos el siguiente output. Almacenad los resultados en una nueva variable y llamadla lista_lista.
        lista_lista = [[44, 55, 67, 44, 98, 29], [34, 56, 56, 78, 67, 56]]
    8. Unid las dos listas de forma que consigamos el siguiente output. Almacenad los resultados en una nueva variable y llamadla lista_numeros.
        lista_numeros = [44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56]

In [46]:
lista1 = [44, 55, 67, 44, 98, 29]
lista2 = [34, 56, 56, 78, 67, 56]

In [47]:
lista_lista = [lista1] + [lista2]
lista_lista

[[44, 55, 67, 44, 98, 29], [34, 56, 56, 78, 67, 56]]

In [59]:
lista_numeros = lista1 + lista2
lista_numeros

[44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56]

    9. De la lista lista_lista, Â¿cuÃ¡ntas veces aparece el nÃºmero 67? Â¿y en la lista lista_numeros.
        Justificad por quÃ© salen nÃºmeros diferentes
    10. Usando la lista_numeros, dadle la vuelta a la lista.

In [49]:
lista_lista.count(67)

0

In [50]:
lista_numeros.count(67)

2

Aparecen nÃºmeros diferentes porque la primera bÃºsqueda la hace sobre una lista y la segunda bÃºsqueda sobre los integer.

In [60]:
print(lista_numeros)

[44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56]

In [61]:
lista_numeros.reverse()
print(lista_numeros)

[56, 67, 78, 56, 56, 34, 29, 98, 44, 67, 55, 44]